body {
    overflow-x: hidden;
}

.hometshirt {
    width: 100%;
    height: 4vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    font-size: 1.5vw;
}

.hometshirt p {
    position: relative;
    left: 1vw;

}

.filtersection {
    width: 100%;
    height: 4vw;
    /* background-color: black; */
    display: flex;
    justify-content: center;
}

.innerfilter {
    width: 91%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}

.leftfilter {
    width: 20vw;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    padding-left: 0.4vw;
    font-size: 1.2vw;
    cursor: pointer;
}

.leftfilter img {
    width: 2vw;
}

.rightfilter {
    width: 20vw;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.rightfilter .heading {
    /* background-color: red; */
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    padding-right: 0.2vw;
}

.parentsort {
    position: relative;
    /* background-color: aqua; */
    width: 15vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.sort {
    background-color: white;
    width: 15vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0.7vw;
    z-index: 1;
    left: 0;
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    font-size: 1.1vw;
}

.first img {
    position: absolute;
    width: 2vw;
    left: 12.7vw;
    cursor: pointer;
}

.sort div {
    width: 100%;
    height: 2.5vw;
    display: flex;
    align-items: center;
    padding-left: 0.4vw;
}

.maintshirt {
    position: relative;
}

.sidefilter {
    width: 24%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s;
    flex-direction: column;
}

.sidefilter .reset {
    width: 100%;
    /* background-color: #ff000042; */
    height: 4vw;
    display: flex;
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

.leftreset {
    /* background-color: red; */
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 0.4vw;
    font-size: 2vw;
    font-weight: 800;
    color: red;
}

.rightreset {
    /* background-color:green; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightreset img {
    width: 2.5vw;
    cursor: pointer;
}

.colors {
    width: 100%;
    height: 12vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

.colorheading {
    width: 100%;
    height: 35%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    font-weight: 800;
    padding-left: 0.4vw;
}

.grpcon {
    width: 98%;
    height: 100%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 2.7vw 2.7vw 2.7vw 2.7vw 2.7vw;
    column-gap: 2vw;
    row-gap: 1vw;
}

.grpcon div {
    height: 2.7vw;
    /* background-color: red; */
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    cursor: pointer;
}
.leftreset input{
    background: transparent;
    border: 0;
    color: red;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 1.5rem;
}
.colorsgrp {
    width: 100%;
    height: 65%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 2.7vw 2.7vw 2.7vw 2.7vw 2.7vw;
    justify-content: space-between;
    row-gap: 1vw;
}

.price {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

.price .p {
    font-weight: 800;
}

.topprice {
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: green; */
    height: 3vw;
    font-weight: 800;
    padding-left: 0.4vw;
}

.downprice {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 10vw;
    /* background-color: red; */
}

.downprice div {
    display: flex;
    margin-bottom: 1vw;
    font-size: 2vw;
}

.downprice input {
    margin-right: 1vw;
    margin-left: 0.2vw;
}

.size {
    width: 100%;
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    /* background-color: red; */
}

.topsize {
    /* background-color: red; */
    width: 100%;
    height: 2.5vw;
    display: flex;
    align-items: center;
    font-weight: 800;
    padding-left: 0.4vw;
}

.downsize {
    /* background-color: green; */
    width: 100%;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.downsize div {
    margin-left: 0.5vw;
    display: flex;
    font-size: 2vw;
}

.downsize input {
    margin-right: 0.7vw;
}

.seefilters {
    width: 100%;
    /* background-color: #00800036; */
    /* height: 4vw; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.seefilters img {
    width: 1.3vw;
    cursor: pointer;
}

.seefilters .allfilter {
    /* background-color: red; */
    height: 3vw;
    width: 13vw;
    margin-right: 2vw;
    border: 0.2vh solid grey;
    border-radius: 4vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filtercolor div {
    width: 2vw;
    height: 1.9vw;
    border-radius: 50%;
}

.stickyfilter {
    background-color: white;
    width: 100%;
    height: 16vw;
    position: sticky;
    bottom: 0;
    display: flex;
}

.stickyfilter img {
    width: 6vw;
    margin-right: 0.4vw;
}

.stickyfilter p {
    color: #ef3c4c;
    font-weight: 800;
}

.leftsticky {
    width: 50%;
    height: 100%;
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    border-left-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightsticky {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stickyfilter {
    display: none;
}

.sortingfilter {
    background-color: white;
    width: 100%;
    height: 16rem;
    position: sticky;
    bottom: 0;
    display: none;
    transition: 1s;
    /* z-index: 1; */
}

.topfilter {
    /* background-color: green; */
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    font-weight: 800;
    padding-left: 2vw;
    font-size: 5vw;
}

.downfilter {
    /* background-color: red; */
    width: 100%;
    height: 80%;
}

.downfilter div {
    width: 100%;
    height: 25%;
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.applyfilter {
    width: 100%;
    background-color: white;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 4;
    overflow: auto;
    display: none;
}

.fcon {
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14vw;
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
}

.fcon div {
    padding-left: 2vw;
    font-weight: 800;
}

.fcon input {
    margin-right: 2vw;
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    font-weight: 800;
    color: #ef3c4c;
}

.applycolor {
    width: 100%;
    /* background-color: red; */
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
}

.applycheading {
    width: 100%;
    /* background-color: green; */
    height: 13vw;
    display: flex;
    align-items: center;
    padding-left: 0.3rem;
    font-weight: 800;
    font-size: 4vw;
}

.colorchart {
    width: 69vw;
    /* background-color: blue; */
    height: 33vw;
    display: grid;
    grid-template-columns: 11vw 11vw 11vw 11vw 11vw;
    justify-content: space-between;
    row-gap: 0.2rem;
    margin-left: 0.3rem;
}

.colorchart div {
    height: 11vw;
    border: 0.2vh solid grey;
}

.applyprice {
    width: 100%;
    height: 34vw;
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    /* background-color: red; */
}

.topapply {
    width: 100%;
    /* background-color: green; */
    height: 26%;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    font-weight: 800;
}

.downapply {
    width: 100%;
    /* background-color: red; */
    height: 80%;
    display: flex;
    flex-direction: column;
}
.downapply div{
    margin-bottom: 3vw;
    display: flex;
}
.downapply input{
    margin-left: 1vw;
    margin-right: 2vw;
}
.downapply p{
   font-size: 5vw;
}
.applysize{
    width: 100%;
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
}
.topapplysize{
   width: 100%;
   /* background-color: green; */
   height: 10vw;
   display: flex;
   align-items: center;
   font-weight: 800;
   padding-left: 1vw;
}
.downapplysize{
    width: 100%;
   /* background-color: red; */
   height: 10vw;
   display: flex;
}
.downapplysize div{
    display: flex;
    align-items: center;
    margin-left: 2vw;
}
.downapplysize input{
    margin-right: 1vw;
}
.cancelapply{
    width: 100%;
    background-color: white;
    height: 3.5rem;
    position: fixed;
    bottom: 0;
    display: flex;
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
}
.leftcancel{
    width: 50%;
    height: 100%;
    border: 0.2vh solid rgba(219, 219, 219, 0.6);
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}
.rightcancel{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ef3c4c;
    font-weight: 800;
}
.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerloader{
    border: 2.5px solid red;
    width: 4rem;
    height: 4rem;
    border-top-width: 0;
    border-radius: 50%;
    animation-name: roll;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes roll {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
    .hometshirt {
        height: 6vw;
        font-size: 2vw;
    }

    .filtersection {
        height: 6vw;
        margin-top: 0.4rem;
    }

    .rightfilter {
        width: 33vw;
    }

    .leftfilter {
        width: 33vw;
        font-size: 2vw;
    }

    .leftfilter img {
        width: 3vw;
    }

    .rightfilter .heading {
        align-items: center;
        font-size: 2vw;
        width: 9vw;
        justify-content: end;
        padding-right: 0.6vw;
    }

    .sort {
        width: 23vw;
        /* font-size: 1.1vw; */
        top: 0.4vw;
    }

    .sort div {
        height: 5vw;
        font-size: 1.6vw;
    }

    .first img {
        left: 20.5vw;
    }

    .parentsort {
        width: 24vw;
    }

    .leftreset {
        padding-left: 0.7vw;
        font-size: 1.8vw;
    }

    .sidefilter .reset {
        height: 5vw;
    }

    .colors {
        height: 15vw;
    }

    .colorheading {
        font-size: 1.8vw;
    }

    .grpcon {
        grid-template-columns: 3vw 3vw 3vw 3vw 3vw;
    }

    .grpcon div {
        height: 3vw;
    }

    .downprice {
        height: 11vw;
    }

    .topprice {
        height: 4vw;
    }

    .downprice div {
        margin-bottom: 1.5vw;
    }

    .topsize {
        height: 3.5vw;
    }

    .downsize {
        height: 3.5vw;
    }

    .seefilters .allfilter {
        width: 17vw;
        height: 4vw;
    }

    .seefilters {
        /* height: 6vw; */
    }

    .topfilter {
        font-size: 4vw;
    }
   

}

@media only screen and (min-width:481px) and (max-width:768px) {
    .filtersection {
        display: none;
    }

    .sidefilter {
        display: none;
    }

    .orderproduct {
        margin-top: 0.4rem;
    }

    .hometshirt {
        height: 9vw;
        /* background-color: red; */
        font-size: 3vw;

    }

    .filtersection {
        display: none;
    }

    .sidefilter {
        display: none;
    }

    .seefilters {
        /* height: 8vw; */
        justify-content: start;
    }

    .seefilters .allfilter {
        height: 5vw;
        width: 26vw;
        margin-left: 3vw;
    }

    .allfilter p {
        font-size: 2.5vw;
    }

    .filtercolor div {
        background-color: red;
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
    }

    .seefilters img {
        width: 2.5vw;
    }

    .stickyfilter {
        display: flex;
        background-color: white;
        width: 100%;
        height: 8vw;
    }

    .stickyfilter p {
        font-size: 2vw;
    }

    .stickyfilter img {
        width: 4vw;
    }

    .sortingfilter {
        display: none;
    }

    .fcon {
        height: 3rem;
    }

    .applyfilter {
        display: none;
    }

    .applycheading {
        height: 3rem;
        font-size: 1rem;
    }

    .colorchart {
        height: 26vw;
    }

    .colorchart {
        width: 54vw;
        /* background-color: blue; */
        height: 6rem;
        display: grid;
        grid-template-columns: 2rem 2rem 2rem 2rem 2rem;
    }

    .colorchart div {
        height: 2rem;
    }
    .downapply p {
        font-size: 3vw;
    }
    .applyprice {
        height: 19vw;
    }
    .downapply div {
        margin-bottom: 1.2vw;
        display: flex;
    }
    .topapplysize {
        height: 2rem;
    } 
    .downapplysize {
        height: 2rem;
    }

}

@media only screen and (min-width:320px) and (max-width:480px) {
    .orderproduct {
        margin-top: 0.4rem;
    }

    .hometshirt {
        height: 10vw;
        /* background-color: red; */
        font-size: 2.8vw;
        display: flex;
        align-items: center;
    }

    .filtersection {
        display: none;
    }

    .sidefilter {
        display: none;
    }

    .seefilters {
        /* height: 15vw; */
        justify-content: center;
    }

    .seefilters .allfilter {
        height: 7vw;
        width: 30vw;
    }

    .allfilter p {
        font-size: 3vw;
    }

    .filtercolor div {
        background-color: red;
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
    }

    .seefilters img {
        width: 3.5vw;
    }

    .stickyfilter {
        display: flex;
    }

    .sortingfilter {
        display: none;
    }

    .applyfilter {
        display: none;
    }
}